@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 @*col-xl-6*@">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Slider</h6>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="Title Name" name="title">
                        <label for="floatingInput">Title</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="Description" name="description">
                        <label for="floatingInput">Description</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="Color" name="offer">
                        <label for="floatingInput">Offer info (Can be null)</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="Category" name="buttonUrl">
                        <label for="floatingInput">Button Url</label>
                        <span class="text-danger"></span>
                    </div>
                  
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="price" name="order">
                        <label for="floatingInput">Order</label>
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="price" name="image">
                        <label for="floatingInput">Image</label>
                        <span class="text-danger"></span>
                    </div>

                    <div class="text-center">

                        <button type="submit" class="btn btn-primary p-2">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>