@using ProniaBackEnd.ViewModels.admin.products
@model List<EmailMessage>
@{
    ViewData["Title"] = "Index";
    int counter = 0;
}

<div class="col-12 " style="margin-top:30px;">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Recivers</th>
                            <th>SendDate</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(item.Title.Length > 10 ? item.Title.Substring(0, 10) + "..." : item.Title.ToString())</td>
                                <td>@foreach (var reciever in item.Recievers)
                                    {
                                       @(reciever + "--");
                                    }</td>
                                <td>@item.SendDate</td>
                                <td>
                                    <a class="btn btn-primary">Details</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-light btn-sm px-4 " asp-action="SendEmail" asp-controller="Email">+ Add New</a>
                </div><!--end col-->
                <div class="col-auto">
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul><!--end pagination-->
                    </nav><!--end nav-->
                </div> <!--end col-->
            </div><!--end row-->
        </div><!--end card-body-->
    </div><!--end card-->
</div> <!-- end col -->
