@model int
<li class="minicart-wrap me-3 me-lg-0">
    <a href="#miniCart" class="minicart-btn toolbar-btn">
        <i class="pe-7s-shopbag"></i>
        <span class="quantity">@Model</span>
    </a>
</li>