
        <!-- Begin Main Content Area -->
        <div class="breadcrumb-area breadcrumb-height"
             data-bg-image="./assets/images/breadcrumb/bg/1-1-1919x388.jpg">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-lg-12">
                        <div class="breadcrumb-item">
                            <h2 class="breadcrumb-heading">Error 404</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>404</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="error-404-area section-space-y-axis-100"
             data-bg-image="~/assets/images/error-404/bg/1-1920x886.png">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-lg-12 align-self-center">
                        <div class="error-404-content">
                            <div class="error-404-img">
                                <img src="~/assets/images/error-404/404.png"
                                     alt="Error Image" />
                            </div>
                            <h2 class="title"><span>Oops,</span> page not found!</h2>
                            <div class="button-wrap">
                                <a class="btn btn-error" asp-action="index" asp-controller="home">
                                    Back to home
                                    <i class="pe-7s-home"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Area End Here -->
        <!-- Begin Newsletter Area -->
        <div class="newsletter-area section-border-y-axis"
             data-bg-image="./assets/images/newsletter/1-1920x400.jpg">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 align-self-center">
                        <div class="newsletter-content">
                            <h2 class="newsletter-title">
                                Subscribe Our Newsletter & Get Update Everytime
                            </h2>
                            <form class="newsletter-form" id="mc-form" action="#">
                                <input class="input-field"
                                       id="mc-email"
                                       type="email"
                                       autocomplete="off"
                                       name="Enter Your Email"
                                       value="Enter Your Email"
                                       onblur="if(this.value==''){this.value='Enter Your Email'}"
                                       onfocus="if(this.value=='Enter Your Email'){this.value=''}" />
                                <div class="btn-wrap">
                                    <button class="btn btn-submit" id="mc-submit">
                                        <i class="pe-7s-paper-plane"></i>
                                    </button>
                                </div>
                            </form>
                            <!-- Mailchimp Alerts -->
                            <div class="mailchimp-alerts text-centre mt-3">
                                <div class="mailchimp-submitting"></div>
                                <div class="mailchimp-success"></div>
                                <div class="mailchimp-error"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Area End Here -->
       