 <!-- Begin Main Content Area -->
<main class="main-content">
    @Html.Partial(
    "Partials/_BreadcrumbPartial",
    new BreadcrumbViewModel("address page", "address"))

    <div class="account-page-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <partial name="Partials/_SidebarMenuPartial" />
                </div>

                <div class="col-lg-9">
                    <div class="myaccount-address">
                        <p>
                            The following addresses will be used on the checkout
                            page by default.
                        </p>
                        <div class="row">
                            <div class="col">
                                <h4 class="small-title">BILLING ADDRESS</h4>
                                <address>
                                    1234 Heaven Stress, Beverly Hill OldYork UnitedState
                                    of Lorem
                                </address>
                            </div>
                            <div class="col">
                                <h4 class="small-title">SHIPPING ADDRESS</h4>
                                <address>
                                    1234 Heaven Stress, Beverly Hill OldYork UnitedState
                                    of Lorem
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->