@using ProniaBackEnd.ViewModels.admin.products
@model ProductAddViewModel

@section plugin_styles{
    <link href="~/admin/assets/plugins/select/selectr.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="product" asp-action="index">Products</a></li>
                    <li class="breadcrumb-item active">Add Product</li>
                </ol>
            </div>
            <h4 class="page-title">Add product</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-controller="products" asp-action="create" enctype="multipart/form-data" id="submit-form">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="ProductName">Product Name</label>
                                <input class="form-control" asp-for="ProductName">
                                <span asp-validation-for="ProductName" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label>Product's photo</label>
                                <input type="file" asp-for="ImageFormFile" class="form-control">
                                <span asp-validation-for="ImageFormFile" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Description">Description</label>
                                <input class="form-control" asp-for="Description">
                                <span asp-validation-for="Description" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Color">Color</label>
                                <input class="form-control" asp-for="Color">
                                <span asp-validation-for="Color" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Size">Size</label>
                                <input class="form-control" asp-for="Size">
                                <span asp-validation-for="Size" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Price">Price</label>
                                <input class="form-control" asp-for="Price">
                                <span asp-validation-for="Price" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label>Category</label>
                                    <select class="form-select" asp-for="CategoryIds" id="categories-multiselect">
                                    <option disabled>Select the category</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CategoryIds" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group mt-3 text-center">
                    <button class="btn btn-primary" type="submit" form="submit-form">Create</button>
                    <a asp-controller="product" asp-action="index" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section plugins_scripts{
    <script src="~/admin/assets/plugins/select/selectr.min.js" asp-append-version="true"></script>
}

    @section custom_scripts{
    <script>
        new Selectr('#categories-multiselect', {
            multiple: true
        });
    </script>
}