@model BreadcrumbViewModel

<div class="breadcrumb-area breadcrumb-height" data-bg-image="/client/assets/images/breadcrumb/bg/1-1-1919x388.jpg">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12">
                <div class="breadcrumb-item">
                    <h2 class="breadcrumb-heading">@Model.Title</h2>
                    <ul>
                        <li>
                            <a asp-controller="home" asp-action="index">Home</a>
                        </li>
                        <li>@Model.PageName</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>