﻿
<ul class="nav myaccount-tab-trigger" id="account-page-tab">
    <li class="nav-item">
        <a asp-controller="account" asp-action="dashboard" class="nav-link active" id="account-dashboard-tab">Dashboard</a>
    </li>
    <li class="nav-item">
        <a asp-controller="account" asp-action="orders" class="nav-link" id="account-dashboard-tab">Orders</a>
    </li>
    <li class="nav-item">
        <a asp-controller="account" asp-action="addresses" class="nav-link" id="account-dashboard-tab">Addresses</a>
    </li>
    <li class="nav-item">
        <a asp-controller="account" asp-action="accountdetails" class="nav-link" id="account-dashboard-tab">Account Details</a>
    </li>
    <li class="nav-item">
        <a asp-controller="auth" asp-action="logout" class="nav-link" id="account-dashboard-tab">Logout</a>
    </li>
</ul>